@font-face {
  font-family: "Monoid";
  src: url("./fonts/Monoid-Regular-NoCalt.ttf");
}

* {
  box-sizing: border-box;
  font-family: 'Monoid';
}

body,
#root {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

@media screen and (min-width: 920px) {
  header .hamburger {
    display: none !important;
  }

  header nav {
    display: flex !important;
  }

  header div {
    justify-content: space-evenly !important;
  }
}
